### OS ###
# macOS
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride
*.log
*.tmp

### IDE ###
# IntelliJ / AndroidStudio
captures/
build/
out/
.cxx/
.externalNativeBuild/
.idea/
.idea_modules/
.gradle/
.navigation/
local.properties
output.json
!gradle/wrapper/gradle-wrapper.jar
*.iml
*.ipr
*.iws
*.apk

### Code ###
# Android
obj/
.externalNativeBuild
.cxx
*.ap_
*.class
*.dex
*.jks
*.keystore

# API KEY
/app/src/test/java/com/skku_team2/skku_helper/Secret.kt
/app/google-services.json
